* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;

}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    width: 90%;
  }
}


/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 90%;
  }

  .sec .container .prodacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Creates 4 columns */
    grid-template-rows: auto auto;
    /* Creates 2 rows */
    gap: 30px;
    /* Adjust the gap between grid items */
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 90%;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 90%;
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container {
    width: 90%;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* End Global Rouls */

/* Start header section*/

header .container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container .catog {
  display: none;
  padding-right: 62px;
  width: 32px;
  height: 17px;
  flex-shrink: 0;
}

#menu::before {
  display: block;
  padding-right: 62px;
  width: 32px;
  height: 17px;
  flex-shrink: 0;
}

header .container .logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .container .logo a .logoname {
  padding-left: 6.33px;
}

header .container ul li:first {
  stroke: black;
  fill: black;
  stroke-width: 0.25px;
  width: 8.126px;
  height: 4.376px;
  flex-shrink: 0;
}

header .container ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline-start: 0;
  padding-right: 63.88px;
  width: 387px;
  height: 25px;
  flex-shrink: 0;
}

header .container ul li a {
  text-decoration: none;
  color: black;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

header .container .icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* end header section*/

/* start first section */
.first {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/bg-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}

.first .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.first .container .min-box {
  border-radius: 8px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 730px;
  height: 349px;
  flex-shrink: 0;
  border-radius: 2px;
  background: rgba(247, 248, 250, 0.80);
  backdrop-filter: blur(12px);
}

.first .container .min-box .first-text {
  display: flex;
  width: 540px;
  height: 112px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #1D252C;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 57.6px;
  font-family: Roboto;
  /* 144% */
}

.first .container .min-box .sec-text {
  width: 537px;
  height: 56px;
  flex-shrink: 0;
  color: #1D252C;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.6px;
  font-family: Helvetica!important; 
  /* 142.222% */
}

.first .container .min-box a {
  text-decoration: none;
  display: inline-flex;
  padding: 8px 44px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: var(--green, #56B280);
  color: #FFF;
  text-align: center;
  font-size: 20.645px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-color: transparent;
  font-family: Roboto;
}

/* end first section */

/* start second section */
.sec {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 90px 165px;
}

.sec .container h2 {
  color: #0B254B;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 57.6px;
  /* 144% */
  letter-spacing: -0.9px;
  margin-bottom: 0;
  font-family: poppins;
}


.sec .container .prodacts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* Creates 4 columns */
  grid-template-rows: auto auto;
  /* Creates 2 rows */
  gap: 30px;
  /* Adjust the gap between grid items */
  margin: 10px;
  margin-top: 60px;
}
.sec .container .prodacts .main-prodact{
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #F7F8FA;
  height: fit-content;
  width:fit-content;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 2px 2px 10px 0px #00000017;
}
.sec .container .prodacts .main-prodact img{
  margin-bottom: -35px;
  margin-top: -10px;
}
.sec .container .prodacts .main-prodact .price-prodname{
  background: #FFFFFF;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sec .container p {
  color: #1D293F;
  letter-spacing: -0.9px;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27.6px;
  /* 153.333% */
  letter-spacing: 0.1px;
  width: 100%;
  height: 35px;
  flex-shrink: 0;
  margin: 0;
  font-family: poppins;
}

.sec .container .price{
  color: #56B280;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 18px;
  font-style: normal;
  font-weight:500;
  line-height: 27.6px;
  /* 153.333% */
  letter-spacing: 0.1px;
  width: 100%;
  height: 35px;
  flex-shrink: 0;
  margin-top: 0;
  font-family: Roboto;
}

.sec .container .see-butt {
  display: none;
}

/* end second section */

/* start third section */
.third {
  background-color: #F7F8FA;
}

.third .container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

.third .container .text-and-ph {
  padding-left: 50px;
  padding-top: 100px;
}

.third .container .text-and-ph .image {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}


.third .container .text-and-ph h2 {
  color: #1D252C;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 46.6px;
  /* 116.5% */
  letter-spacing: -0.9px;
  display: flex;
  width: 350px;
  height: 105px;
  flex-direction: column;
  justify-content: flex-end;
  flex-shrink: 0;
  font-family: poppins;
}

.third .container .text-and-ph .image img {
  margin-left: 30%;
}

.third .container .text-and-ph .image-mop {
  display: none;
}

.third .container .text-and-ph .firstp {
  color: #56B280;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.8px;
  /* 142.5% */
  width: 350px;
  height: 25px;
  flex-shrink: 0;
  font-family: poppins;
}
.third .container .text-and-ph .checked{
  font-family: poppins;
}

.third .container .text-and-ph .see-butto {
  display: inline-flex;
  padding: 8px 44px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  text-decoration: none;
  background: var(--green, #56B280);
  color: #FFF;
  text-align: center;
  font-size: 20.645px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-flex;
  padding: 8px 44px;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 70px;
  margin-top: 50px;
  font-family: Roboto;
}

/* end third section */

/* start forth section */
.forth {
  background: rgba(86, 178, 128, 0.10);
  padding-bottom: 62px;
}

.forth .container {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 80px;
}

.forth .container h2 {
  flex-shrink: 0;
  color: #0B254B;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 57.6px;
  font-family: poppins;
  /* 144% */
  letter-spacing: -0.9px;
}

.forth .container p {
  flex-shrink: 0;
  color: #5E6E89;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27.6px;
  /* 153.333% */
  letter-spacing: 0.1px;
  font-family: poppins;
}
.forth .images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
  overflow: hidden;
}

/* end forth section */


/* start footer section */
 .footer{
background-color: #272727;
  padding: 70px 0;
  display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
} 
footer .container{
  width: 90%;
margin:auto;
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: row;
margin-top: 5px;
}
footer .separator{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}
footer .separator img{
  width: 98%;
}
footer .container .icon-name-p-section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
footer .container .icon-name-p-section .icon-name{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
footer .container .icon-name-p-section .icon-name img{
  padding-right: 5px;
}




footer .container .row{
display: flex;
flex-wrap: wrap;
width: 40%;
}

ul{
list-style: none;
}

.footer-col{
 width: 33%;
 padding: 0 15px 0 0;
}
.footer-col h4{
font-size: 18px;
color: #56B280;
text-transform: capitalize;
margin-bottom: 35px;
font-weight: 500;
position: relative;
font-family: avenir;
}
.footer-col h4::before{
content: '';
position: absolute;
left:0;
bottom: -10px;
background-color: #ffffff93;
height: 2px;
box-sizing: border-box;
width: 50px;
}
.footer-col .h4-1::before{
width: 80px;
}
.footer-col .h4-3::before{
width: 35px;
}
.footer-col ul{
padding: 0;
}
.footer-col ul li{
margin-bottom: 10px;
}
.footer-col ul li a{
font-size: 16px;
text-transform: capitalize;

text-decoration: none;
font-weight: 300;
color: #E1E1E1;
display: block;
transition: all 0.3s ease;
font-family: avenir;
}
.footer-col ul li a:hover{
padding-left: 8px;
color: #56B280;

}


/* end footer section */

@media (max-width: 1240px) {
  .sec .container .prodacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Creates 4 columns */
    grid-template-rows: auto auto;
    /* Creates 2 rows */
    gap: 30px;
    /* Adjust the gap between grid items */
  }
  .third .container {
    flex-direction: column;
  }

  .forth .container .images {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .forth .container .prodacts img:last-child {
    display: none;
  }
  footer .container {
    flex-direction: row;
    align-items: center;
  }
  footer .container .row {
    width: 50%;
}


}

@media (max-width: 775px) {

  /* start header section */
  header .container ul {
    display: none !important;
  }

  header .container .catog {
    display: block !important;
    padding-right: 62px !important;
    width: 32px !important;
    height: 17px !important;
    flex-shrink: 0 !important;
  }

  header .container .icons a img {
    width: 85% !important;
  }

  /* End header section */

  /* start first section */
  .first {
    background-image: url(../images/bg-image-v.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    height: 100vh !important;
  }

  .first .container {
    padding-left: 0;
    padding-right: 0;
  }

  .min-box {
    width: 346px !important;
    height: 371px !important;
    flex-shrink: 0 !important;
    border-radius: 2px !important;
    background: rgba(247, 248, 250, 0.80) !important;
    backdrop-filter: blur(12px) !important;
  }

  .min-box .first-text {
    display: flex !important;
    width: 327px !important;
    height: 146px !important;
    flex-direction: column !important;
    justify-content: center !important;
    flex-shrink: 0 !important;
    color: #1D252C !important;
    text-align: center !important;
    font-feature-settings: 'clig' off, 'liga' off !important;
    font-size: 40px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 47.6px !important;
    /* 119% */
  }

  .min-box .sec-text {
    color: #1D252C !important;
    text-align: center !important;
    font-feature-settings: 'clig' off, 'liga' off !important;
    font-family: Helvetica !important;
    font-size: 18px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 19.6px !important;
    /* 108.889% */
    width: 299px !important;
    height: 56px !important;
    flex-shrink: 0 !important;
  }

  .min-box a {
    text-decoration: none;
    border-radius: 4px !important;
    background: var(--green, #56B280) !important;
    display: inline-flex !important;
    padding: 8px 44px !important;
    align-items: flex-start !important;
    gap: 10px !important;
    color: #FFF !important;
    text-align: center !important;
    font-size: 20.645px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
  }

  /* End first section */


  /* start second section */
  .sec .container .prodacts .images {
    display: none;
  }

  .sec .container .see-butt {
    text-decoration: none;
    display: inline-flex;
    padding: 8px 44px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: var(--green, #56B280);
    color: #FFF;
    text-align: center;
    font-size: 20.645px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .sec .container {
    margin: 50px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  .sec .container .prodacts {
    margin-top: 75px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* Creates 4 columns */
    grid-template-rows: auto auto;
    /* Creates 2 rows */
    gap: 30px;
    /* Adjust the gap between grid items */
  }

  .sec .container p {
    width: 346px;
    height: 35px;
    flex-shrink: 0;
    color: var(--dark-1, #5E6E89);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27.6px;
    /* 153.333% */
    letter-spacing: 0.1px;
  }

  /* end second section */

  /* start third section */

  .third .container .text-and-ph {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 0;
    padding-top: 100px;
  }

  .third .container .text-and-ph .image {
    display: none;
  }

  .third .container .text-and-ph .image-mop {
    display: inline;
  }

  .third .container {
    flex-direction: column;
  }

  .third .container .image {
    display: none;
  }

  /* end third section */
  /* start forth section */
  .forth .container{
    padding-bottom: 100px;
  }

  .forth .images {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    display: flex;
    overflow: scroll;
  }

  .forth .images img {
    width: 60%;
    height: 244.988px;
    padding-bottom: 20.542px;
    flex-shrink: 0;
  }


  /* end forth section */

/* start footer section */
footer .container {
  flex-direction: column;
  align-items: center;
}
footer .container .row{
  width: 100%;
  margin-left: 16%;
}
.footer-col h4 {
  font-size: 16px;
}
.footer-col ul li a {
  font-size: 12px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: #E1E1E1;
  display: block;
  transition: all 0.3s ease;
  font-family: avenir;
}
footer .container .icon-name-p-section{
  align-items: center;
}
footer .container .icon-name-p-section p{
  font-size: 14px;
}
footer .container .icon-name-p-section .icon-name img{
  width: 40px;
  height: 40px;
  padding-right: 5px;
}
footer .container .icon-name-p-section .icon-name svg{
  width: 100px;
  height: 17px;
}
footer .container .row .footer-col ul{
  display: flex;
  flex-direction: column;
}

/* end footer section */

}
@media (max-width: 359px) {
  .first .container .min-box{
    width: 90% !important;
    height: 100% !important;
  }
  .first .container .min-box p{
    width: 90% !important;
    margin-bottom: 35px;
  }
  .first .container .min-box a{
    padding: 5px 10px !important;
    margin: 5px;
  }
  .sec .container{
    width: 100%;
    margin: 0 0 50px;
  }
  .sec .container p{
    width: 90%;
  }
  .sec .container .prodacts{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  .sec .container .prodacts img {
    width: 100%;
}
  .third .container .text-and-ph{
    width: 90%;
  }
  .third .container .text-and-ph h2{
    width: 100%;
  }
  .third .container .text-and-ph .firstp{
    width: 100%;
  }
  .third .container .text-and-ph p{
    width: 100%;
  }
  .third .container .text-and-ph .image-mop{
    width: 90%;
  }
  .third .container .text-and-ph .image-mop img{
    width: 100%;
  }
  footer .container .row {
    flex-direction: column;
}

}

@media (min-width: 885px) {
  .container{
    max-width: 72%;
  }
}